*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --highlight: #00b3ff;
    --darkColor: #d0e4e5;
    --lightColor: #d8eeef;
    --fontLogo: Titan One;
    --fontHeading: Poppins;
    --fontBody: Bai Jamjuree;
}

body{
    background-color: var(--lightColor);
    /* padding: 30px; */
    padding-top: 0;
    max-width: 1440px;
    margin: 0 auto;
}

.heading{
    font-family: var(--fontHeading);
}

.para{
    font-family: var(--fontBody);
    opacity: 70%;
}

.highlight{
    color: var(--highlight);
    font-weight: bold;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.marginTop{
    width: 100%;
    height: 70px;
}

.videoLink{
    color: black;
    transition: color 0.2s linear;

    &:active{
        color: var(--highlight);
        text-decoration: none;
    }
}

.sectionHeading{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

/* ...........Header Style........... */
header{
    background-color: var(--lightColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-top: 20px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 2;
}

.logo{
    text-transform: capitalize;
    font-family: var(--fontHeading);
}

/* Nav Bar Style */
nav{
    display: flex;
    gap: 25px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-family: var(--fontHeading);
}

.navItems>.navPara{
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    transition: color 0.2s linear, transform 0.2s linear;

    &:hover{
        color: var(--highlight);
        transform: scale(1.2,1.2);
    }
}

/* ............Hero Section........... */
main{
    z-index: -1;
    padding: 30px;
}

.heroSection{
    padding: 30px;
    padding-top: 0;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

/* Background Small SVGs */
.heroSection>.imageSection{
    width: 150px;
    position: absolute;
    z-index: -1;
    filter: blur(5px);
}

.svgSection1{
    top: 50px;
    left: 300px;
}

.svgSection2{
    top: 200px;
    left: 100px;
}

.svgSection3{
    top: 300px;
    right: 100px;
}

.svgSection4{
    top: 100px;
    right: 200px;
}

.svgSection5{
    top: 200px;
    right: 500px;
}

.svgSection6{
    bottom: 100px;
    right: 200px;
}

.svgSection7{
    bottom: 50px;
    left: 500px;
}

.svgSection8{
    bottom: 100px;
    left: 200px;
}

/* Details Of hero Section */
.detailSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    .paraSection{
    width: 60%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .heroHeading{
    font-size: 30px;
    font-weight: bold;
    width: 60%;
    margin-bottom: 20px;
    }
}

/* Contents of Channel */
.contentSection{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
    
    .subcontent{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 10px;
        padding: 20px;
        height: fit-content;
        background-color: var(--darkColor);
        border-radius: 20px;
        transition: transform 0.2s linear, box-shadow 0.2s linear;
    
        &:hover{
            transform: scale(1.1,1.1);
            box-shadow: 1px 1px 5px var(--highlight);
        }

        .imageSection{
            width: 100%;
            aspect-ratio: 16/9;
            overflow: hidden;
        }

        .heading{
            font-weight: 600;
            text-align: center;
            width: 100%;
        }

        .para{
            font-size: 13px;
        }
    }
}

/* ..............Video Section............. */
.videoSection{
    padding: 30px;
    padding-top: 0;

    .paraSection{
        text-align: center;
    }

    .thumbnailTitle{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 10px;
        font-weight: bold;
        text-decoration: underline;

        &::after{
            position: absolute;
            content: "'";
        }
        
        &::before{
            content: "'";
        }
    }

    .thumbnailGroup{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;
        
        .thumbnailSection{
            width: 300px;
            padding: 10px;
            background-color: white;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 1px 1px 3px grey;
            -webkit-tap-highlight-color: transparent;
            
            .thumbnail{
                aspect-ratio: 16/9;
            }
            
            .videoTitle{
                opacity: 70%;
            }
        }
        
    }
}

/* ............About Us Section................ */
.aboutusSection{
    padding: 30px;
    padding-top: 0;

    .beginContainer{
        .heading{
            text-decoration: underline;
            font-weight: 600;
            font-style: italic;
            margin-bottom: 5px;
        }

        .imageSection{
            float: right;
            width: 30%;
            aspect-ratio: 1/1;
            margin-left: 50px;
            border-radius: 50%;
            overflow: hidden;
        }
        .para{
            margin-bottom: 10px;
        }
    }
}

/* .............Team Section.......... */
.teamSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    padding-top: 0;

    .para{
        text-align: center;
        width: 60%;
        margin-bottom: 20px;
    }

    .teamMembers{
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 50px;

        .content{
            padding: 10px;
            position: relative;
            width: 300px;
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-radius: 20px;
            overflow: hidden;
            background-color: rgb(242, 255, 254);
            cursor: pointer;
            transition: box-shadow 0.3s linear;
            height: fit-content;
            -webkit-tap-highlight-color: transparent;
            
            &:hover{
                box-shadow: 1px 1px 10px grey;

                .member{
                    transform: scale(1.2,1.2);
                }

                
                .para{
                    width: 100%;
                    text-align: left;
                    margin-bottom: 0;
                    display: block;
                }

                .postPlaceholder{
                    display: none;
                }
            }

            .background{
                position: absolute;
                width: 100%;
                height: 80%;
                left: 0;
                top: 0;
                background-color: var(--highlight);
                z-index: -1;
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                justify-content: center;

                
            }
            
            .imageSection{
                aspect-ratio: 1/1;
                display: flex;
                align-items: center;
                height: 100%;
                background-color: var(--highlight);
                position: relative;
                border-radius: 10px;
                overflow: hidden;
                
                .shadow{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 70%;
                    aspect-ratio: 1/1;
                    background-color: white;
                    box-shadow: 1px 1px 20px white;
                    border-radius: 50%;
                }
                
                .member{
                    transition: transform 0.3s linear;
                    z-index: 1;
                }
            }
            .heading{
                font-weight: 600;
            }

            .postPlaceholder{
                height: 20px;
            }
            
            .para{
                display: none;
            }
        }
    }
}

/* ...........Memories section.......... */
.memorieSection{
    padding: 30px;
    padding-top: 0;

    .memoriesGroup{
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 50px;
        place-content: center;

        .content{
            padding: 10px;
            border-radius: 10px;
            overflow: hidden;
            background-color: var(--darkColor);
            
            .imageSection{
                display: flex;
                align-items: center;
                justify-content: center;
                aspect-ratio: 1/1;
                margin-bottom: 10px;
            }

            .heading{
                font-weight: 600;
                text-align: center;
            }
        }
    }
}

/* Status Section */
.statusSection{
    padding: 30px;
    padding-top: 0;

    .statusGroup{
        display: flex;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 50px;
        
        .content{
            padding: 10px;
            width: 20%;
            aspect-ratio: 16/9;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 20px;
            background-color: black;
            color: white;
            box-shadow: 2px 2px 20px white;
            transition: color 0.3s linear, background-color 0.3s linear, box-shadow 0.3s linear;
            cursor: pointer;
            
            &:hover{
                color: black;
                background-color: white;
                box-shadow: 2px 2px 20px black;
            }

            .subContent{
                display: flex;
                align-items: center;
                gap: 5px;

                .heading{
                    font-weight: 500;
                }

                .imageSection{
                    display: flex;
                    align-items: center;
                }
            }

            .Stats{
                font-size: 40px;
                font-weight: 600;
                margin: 0;
            }
        }
        }

    .audienceGroup{
        display: flex;
        gap: 50px;
        justify-content: center;
        
        .subscriberSection{
            width: 30%;
            padding: 30px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 1px 1px 5px grey;

            .heading{
                font-weight: 500;
                font-style: italic;
                text-decoration: underline;
                margin-bottom: 10px;
                text-align: center;
            }

            .titleSection{
                display: flex;
                justify-content: space-between;
                margin-bottom: 5px;
            }

            .bar{
                background-color: rgb(147, 254, 165);
                display: flex;
                border-radius: 10px;
                overflow: hidden;

                .part1{
                    width: 55%;
                    height: 10px;
                    background-color: var(--highlight);
                 }
            }
            
            .genderSection{
                margin-top: 20px;

                .bar{
                    width: 100%;
                    height: 10px;

                    .male{
                        width: 60%;
                        height: 10px;
                        background-color: var(--highlight);
                    }
                    
                    .female{
                        width: 35%;
                        height: 10px;
                    }

                    .others{
                        background-color: grey;
                        width: 5%;
                        height: 10px;
                    }
                }

                .subcontent{
                    display: flex;
                    align-items: center;
                    margin: 10px;
                    
                    .circle{
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                        border-radius: 50%;
                    }

                    .maleCircle{
                        background-color: var(--highlight);
                    }

                    .femaleCircle{
                        background-color: rgb(147, 254, 165);
                    }
                    
                    .othersCircle{
                        background-color: grey;
                    }

                    .gender{
                        margin: 0;
                        text-decoration: none;
                        font-style: normal;
                        font-weight: 400;
                    }
                }
            }
        
        }

        .geographySection{
            width: 40%;
            padding: 30px;
            background-color: whitesmoke;
            border-radius: 10px;
            box-shadow: 1px 1px 5px grey;

            .heading{
                font-weight: 500;
                font-style: italic;
                text-decoration: underline;
                text-align: center;
            }

            .bar{
                width: 100%;
                height: 10px;
                border-radius: 10px;
                background-color: #00b3ff;
                overflow: hidden;
                display: flex;
                margin-bottom: 20px;
                margin-top: 20px;
                
                .part1{
                    width: 50%;
                    height: 10px;
                    background-color: rgb(125, 125, 253);
                }
                
                .part2{
                    width: 20%;
                    height: 10px;
                    background-color: rgb(123, 250, 121);
                }
                
                .part3{
                    width: 15%;
                    height: 10px;
                    background-color: rgb(245, 253, 89);
                }
                
                .part4{
                    width: 10%;
                    height: 10px;
                    background-color: rgb(225, 220, 220);
                }
                
                .part5{
                    width: 5%;
                    height: 10px;
                    background-color: rgb(255, 120, 120);
                }
            }

            .subcontent{
                display: flex;
                align-items: center;
                margin-bottom: 10px;

                .title{
                    text-align: left;
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                }
                
                .circle{
                    margin-right: 10px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background-color: black;
                }
                
                .part1{
                    background-color: rgb(125, 125, 253);
                }

                .part2{
                    background-color: rgb(123, 250, 121);
                }

                .part3{
                    background-color: rgb(245, 253, 89);
                }

                .part4{
                background-color: rgb(225, 220, 220);
                }

                .part5{
                    background-color: rgb(255, 120, 120);
                }
            }
        }
    }
}

/* Footer/Contact Us Section */
footer{
    padding: 30px;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--darkColor);

    .footerGroup{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        margin: 30px;
        
        .content{
            width: 30%;
        }
        
        .contactSection{
            .subcontent{
                display: flex;
                align-items: center;
                margin-top: 10px;
    
                .imageSection{
                    margin-right: 10px;
                    display: flex;
                    align-items: center;
                }
            }
        }

        .shortcutSection{
            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            .footerItems{
                font-weight: 500;
                width: fit-content;
                transition: color 0.3s linear, transform 0.3s linear;

                &:hover{
                    transform: scale(1.1,1.1);
                    color: var(--highlight);
                }
            }
        }
    }

    .socialmediaSection{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 20px 0px;

        hr{
            width: 30%;
            border: 1px solid black;
        }

        .imageSection{
            width: 40px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            cursor: pointer;
        }
    }

    .paraSection{
        text-align: center;
        margin-top: 20px;

        .para{
            .copyrightLogo{
                margin-right: 3px;
            }
        }
    }

}



/* ......................Responsive For Tablets................... */
@media (max-width:820px) and (min-width:550px){
    .para{
        font-size: 14px;
    }

    .detailSection>.paraSection{
        width: 80%;
    }

    .heroHeading{
        width: 80%;
    }

    .contentSection{
        justify-content: center;
        gap: 100px;
    }

    .teamSection{
        .teamMembers{
            grid-template-columns: auto auto;
        }
    }

    .statusSection{

        .statusGroup{
            .content{
                width: 30%;
            }
        }

        .audienceGroup{

            .content{
                width: 50%;
            }
        }
    }

}



/* ......................Responsive For mobiles................... */
@media (max-width:550px){
    main, header{
        padding: 10px;
    }

    .marginTop{
        display: none;
    }

    /* Nav Bar Style */
    .navItems{
        display: none;
    }

    /* HeroSection Style */
    .heroSection{
        width: 100%;
    }

    .para{
        font-size: 12px;
    }

    /* Background Images Style */
    .heroSection>.imageSection{
        width: 100px;
    }
    .svgSection1{
        top: 0;
        right: 0;
    }
    .svgSection2{
        top: 900px;
        left: 250px;
    }
    .svgSection3{
        top: 400px;
        left: 200px;
    }
    .svgSection4{
        top: 650px;
        left: 0;
    }
    .svgSection5{
        top: 200px;
        left: 20px;
    }
    .svgSection6{
        bottom: 400px;
        left: 10px;
    }
    .svgSection7{
        bottom: 150px;
        right: 0px;
    }
    .svgSection8{
        bottom: 0;
        left: 0;
    }
    
    /* Hero Paragraph Style */   
    .detailSection{
        .paraSection{
            width: 100%;
            align-items: start;
            text-align: justify;
        }
    
        .heroHeading{
            width: 90%;
            font-size: 20px;
            text-align: left;
        }
    }

    /* Content Of Channel */
    .contentSection{
        flex-direction: column;
        gap: 30px;
        padding: 30px;

        .subcontent{
            box-shadow: 1px 1px 5px var(--highlight);
        }
    }

    /*........ Video Section .......*/
    .videoSection{
        .thumbnailGroup{
            gap: 20px;
        }
    }

    /* Team Section */
    .teamSection{
        .para{
            width: 100%;
        }

        .teamMembers{
            grid-template-columns: auto;
        }
    }

    /* Memories Section */
    .memorieSection{
        padding: 10px;

        .memoriesGroup{
            grid-template-columns: auto;

            .content{
                width: 300px;
            }
        }
    }

    
    /* ...........Status Section.......... */
    .statusSection{
        .statusGroup{
            flex-direction: column;
            align-items: center;
            width: 100%;
            gap: 30px;
            
            .content{
                width: 80%;
            }
        }
        

        .audienceGroup{
            width: 100%;
            flex-direction: column;
            align-items: center;

            .content{
                width: 90%;
            }
        }

    }

    /* Footer Section */
    footer{
        padding: 10px;
        
        .footerGroup{
            flex-direction: column;
            gap: 30px;

            .content{
                width: 100%;
            }   
            
            .shortcutSection{
                grid-template-columns: auto;
                gap: 5px;

                .footerItems{
                    font-size: 13px;
                }
            }
        }

        .socialmediaSection{
            width: 100%;
            margin: 0;

            .imageSection{
                width: 20px;
            }
        }
    }
}
